
.first#left-column span.DELETE {
    display:none;
}

.yui-u#right-column span.INSERT {
    display:none;
}

.INSERT {
    background-color:#e6ffe6;
    text-decoration:underline;
}

.DELETE {
    background-color:#ffe6e6;
    text-decoration:line-through;
}
